:root {

  font-size: 16px;

}

.body {
  width: 100%;
  height: 90dvh;
}


.chat {
  background-color: #555;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatMessages {
  background-color: #777;
  flex-grow: 1;
  padding: 30px 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatForm {
  background-color: #191919;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chatInput {
  border: none;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  background-color: #212121;
  outline: none;
  color: #f2f2f2;
  font-size: 1rem;
}

.chatButton {
  border: none;
  background: none;
  color: #f2f2f2;
  cursor: pointer;
}

.chatMessages>div {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 22px;
}

.mensageSelf {
  background-color: #f2f2f2;
  color: #121212;
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
}

.mensageOther {
  background-color: #333;
  color: #f2f2f2;
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
}